// My themes
$white: #ffffff;
$gray-100: #002146;
$gray-200: #335479;
$gray-300: #667f9a;
$gray-400: #99a9bc;
$gray-500: #ccd4dd;
$gray-600: #e5e9ee;
$gray-700: #f2f4f6;

$green: #00b63e;
$blue: #0070f4;
$yellow: #ffa930;
$black: #002146;
$red: #ed2e67;
$cyan: #0066ff;
$dodgerBlue: #1890ff;
$pumpkin: #ff9900;

// Color other
$greenWhite1: #f2f4ef;
$greenWhite2: #e5eee2;
$greenWhite3: #cce3ca;
$greenWhite4: #79b873;

$blueWhite1: #eef6fc;
$blueWhite2: #ddecf8;
$blueWhite3: #a8cbe6;
$blueWhit4: #60a0d2;

$pinkWhite1: #fff3f1;
$pinkWhite2: #ffe2df;
$pinkWhite3: #ffe2df;
$pinkWhite4: #fd7464;

$yellowWhite1: #fff9ee;
$yellowWhite2: #fff5e1;
$yellowWhite3: #fae5bc;
$yellowWhite4: #f6ab3a;

$grayWhite1: #f3f5f6;
$grayWhite2: #e7ebee;
$grayWhite3: #d9dcde;
$grayWhite4: #9aa4ab;

$grayWhite1: #ffebf7;
$grayWhite2: #ffc2e7;
$grayWhite3: #ff85ce;
$grayWhite4: #ff0099;

$primary: $green;
$secondary: $blue;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1230px,
);
// padding container
$grid-gutter-width: 3rem;

// Border

$border-color: $green;
$border-radius: 3.6rem;

// font size
$font-family-inter: "Inter", sans-serif;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 4.8;
$h2-font-size: $font-size-base * 4;
$h3-font-size: $font-size-base * 3;
$h4-font-size: $font-size-base * 2.2;
$h5-font-size: $font-size-base * 1.8;
$h6-font-size: $font-size-base * 1.5;
$font-weight-extrabold: 800;
$font-size-sm: $font-size-base * 1.5;
$font-size-lg: $font-size-base * 1.5;

$dodgerBlue-text: $dodgerBlue;
$dodgerBlue-text-emphasis: $dodgerBlue;

$spacer: 1rem;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 2.6,
    7: $spacer * 2.5,
    8: $spacer * 5.6,
);

// navbar
$nav-link-padding-y: $spacer * 0.6;
$nav-link-font-weight: 600;
$navbar-light-color: $black;
$navbar-nav-link-padding-x: $spacer * 1.6;
$navbar-padding-y: 0;
$navbar-padding-x: 0;

// btn
$input-btn-font-family: $font-family-inter;
$input-btn-padding-x: 1.6rem;
$input-btn-padding-y: 0.6rem;
$btn-font-size: 1.5rem;
$btn-font-weight: 600;

// $btn-link-hover-color: $green;
// $btn-link-color: $green;
// $btn-link-hover-color: $green;
// $btn-link-disabled-color: $green;

// btn

$input-btn-padding-y-sm: 1.7rem;
$input-btn-padding-x-sm: 3.2rem;
$btn-border-width: 2px;
$input-btn-border-width: 1.5px;

$body-color: $white;

// btn-font
$btn-font-size-sm: $font-size-base * 1.5;
// $btn-font-size-lg: $input-btn-font-size-lg !default;

// css grid
$enable-cssgrid: true;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
    font-family: $font-family-inter;
}
a {
    text-decoration: none;
}
