.career {
    background: #f2fbf5;
    padding: 80px 99px;
    &__heading {
        width: 536px;
        display: flex;
        text-align: center;
        margin: 0 auto;
        line-height: 1.5;
    }
}
