// Header-top
.header {
    &-logo {
        max-height: 44px;
    }
    &-top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0 83px;
        background-color: $white;
        box-shadow: 0px 4px 8px rgba(84, 104, 120, 0.1);
        display: flex;
        align-items: center;
        z-index: 999;
    }
}
.nav {
    &-item {
        padding: 16px 0;
    }
    &-link {
        line-height: 24px;
        border-radius: 3.6rem;
        &:hover {
            color: $green;
            background-color: rgba($green, 0.14);
        }
    }
}

// slider
.slider {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 67.5px;
    height: calc(100vh - 67.5px);
    background: url(../../assets/img/slider.png) top center / cover no-repeat;
    &__container {
        display: flex;
        align-items: center;
    }
    &__info {
        position: absolute;
        top: 50%;
        transform: translateY(-70%);
        left: 83px;
    }
    &__heading {
        font-size: 5.4rem;
        max-width: 483px;
        font-weight: 800;
        margin-bottom: 24px;
        line-height: 65px;
        letter-spacing: 0.01em;
    }
    &__desc {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__signup {
        padding: 16.5px 32px;
        font-size: 1.8rem;
        margin-right: 16px;
    }
    &__discover {
        position: relative;
        padding: 16.5px 32px 16.5px 16.5px;
        background-color: transparent;
        color: #fff;
        border: solid 1.6px #99a9bc;
        &:hover {
            background-color: rgba(153, 169, 188, 0.2);
            border: solid 1.6px #99a9bc;
            color: #fff;
        }
    }
    &__text {
        margin-left: 40px;
        font-size: 1.8rem;
        line-height: 1.5;
    }
    &__wrap {
        position: absolute;
        display: flex;
        left: 83px;
        top: 70%;
    }
    &__cta {
        margin-right: 40px;
    }
    &__quantity-user {
        font-weight: 700;
        margin: 0 1.6rem 0 1rem;
        color: #00b63e;
        line-height: 1.2;
    }
    &__total-user {
        margin-right: 40px;
        & .slider__quantity-user {
            color: $dodgerBlue;
        }
    }
    &__total-register {
        & .slider__quantity-user {
            color: #ffa930;
        }
    }
}
.icon-play::before {
    width: 4rem;
    height: 4rem;
    min-width: 4rem;
    font-size: 16px;
    line-height: 4rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 10px;
    content: "";
    color: #fff;
    background-color: rgba(255, 255, 255, 0.15);
    transform: translateY(-50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
}
.img-play {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.img-arrow {
    min-width: 44px;
    max-height: 22px;
}
.text-banner {
    line-height: 1.2;
    margin-left: 1rem;
}
