.btn {
    --bs-btn-color: #00b63e;
    --bs-btn-hover-color: #00b63e;
    --bs-btn-active-color: #00b63e;
    --bs-btn-hover-bg: rgba(0, 182, 62, 0.2);
    & + & {
        margin-left: 8px;
    }
    &-primary {
        background-color: var(--bs-btn-color);
        color: #fff;
        &:not(:disabled):hover,
        &:not(:disabled).hover,
        &:not(:disabled):focus,
        &:not(:disabled).focus,
        &:not(:disabled):active,
        &:not(:disabled).active,
        &:not(.disabled):hover,
        &:not(.disabled).hover,
        &:not(.disabled):focus,
        &:not(.disabled).focus,
        &:not(.disabled):active,
        &:not(.disabled).active {
            background-color: #008e30;
            border-color: #008e30;
            color: #fff;
        }
    }
    &-outline-primary {
        background-color: #fff;
    }

    &-outline-primary:not(:disabled):hover,
    &-outline-primary:not(:disabled).hover,
    &-outline-primary:not(:disabled):focus,
    &-outline-primary:not(:disabled).focus,
    &-outline-primary:not(:disabled):active,
    &-outline-primary:not(:disabled).active,
    &-outline-primary:not(.disabled):hover,
    &-outline-primary:not(.disabled).hover,
    &-outline-primary:not(.disabled):focus,
    &-outline-primary:not(.disabled).focus,
    &-outline-primary:not(.disabled):active,
    &-outline-primary:not(.disabled).active {
        background-color: rgba(0, 182, 62, 0.2);
        color: var(--bs-btn-color);
    }
}
.btn-lg {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 17px 32px;
    background-color: $green;
    color: $white;
    border: 2px solid $green;
    border-radius: 36px;
}
.btn-outline-gray {
    background-color: transparent;
    color: #fff;
    border: 2px solid #99a9bc;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
